<div th:fragment="deletecategory">
	<div th:replace="fragments/content-header :: content-header (text='Usuwanie kategorii')"></div>
	<div class="row">
		<div class="col-2 col-lg-4"></div>
		<div class="col-8 col-lg-4 text-center">
			<th:block th:if="${category}">
				<form method="POST" th:object="${category}" th:action="@{/admin/categorymanagement/deletecategory?categoryid={id}(id=${category.id})}" class='border border-dark mt-3'>
					<h4 class="bg-primary text-white border-bottom border-dark">Usuwanie kategorii</h4>
					<div>Zamierzasz usunąć kategorię <div class="fw-bold fs-5" th:text="${category.name}"></div>Usługi należące do tej kategorii zostaną jej pozbawione. Tej operacji nie można cofnąć.</div>
					<button class="btn btn-primary rounded-0 mt-2 mb-1 border border-1 border-dark text-white" type="submit">Usuń kategorię</button>
				</form>
			</th:block>
			<th:block th:unless="${category}">
				Nie znaleziono kategorii.
			</th:block>
			<a th:replace="fragments/nav-back-button :: nav-back-button (href=@{/admin/categorymanagement})"></a>
		</div>
		<div class="col-2 col-lg-4"></div>
	</div>
</div>