<div th:fragment="home">
	<div th:replace="fragments/content-header :: content-header (text='Konfiguracja przelewów')"></div>
	<div class="row">
		<div class="col-2 col-lg-4"></div>
		<div class="col-8 col-lg-4 text-center">
			<th:block th:if="${bankTransferForm}">
				<th:block th:if="${bankTransferForm.class.name == 'pl.maciejnierzwicki.mcshop.web.form.admin.paymentconfiguration.banktransfer.impl.dotpay.DotPayConfigForm'}">
					<div th:replace="fragments/paymentconfig/banktransfer/dotpay :: dotpay"></div>
				</th:block>
				<th:block th:if="${bankTransferForm.class.name == 'pl.maciejnierzwicki.mcshop.web.form.admin.paymentconfiguration.banktransfer.impl.przelewy24.Przelewy24ConfigForm'}">
					<div th:replace="fragments/paymentconfig/banktransfer/przelewy24 :: przelewy24"></div>
				</th:block>
			</th:block>
			<th:block th:unless="${bankTransferForm}">
				<div class="text-center">Płatności przelewem są wyłączone.</div>
			</th:block>
			<div class="mt-3">
				<a th:replace="fragments/nav-back-button :: nav-back-button (href=@{/admin/paymentconfiguration})"></a>
			</div>
		</div>
		<div class="col-2 col-lg-4"></div>
	</div>
</div>