<div th:fragment="home">
	<div th:replace="fragments/content-header :: content-header (text='Zarządzanie usługami')"></div>
	<h2 class="text-center"><u>Zarządzanie usługami</u></h2>
	<div class="row">
		<div class="col"></div>
		<div class="btn-group-vertical mt-2 mb-1 col">
			<a class="btn btn-primary rounded-0 border border-dark text-white" th:href="@{/admin/servicemanagement/newservice}">Dodaj nową usługę</a>
			<a class="btn btn-primary rounded-0 border border-dark text-white" th:href="@{/admin/servicemanagement/editorder}">Zmień kolejność wyświetlania usług</a>
			<table th:if="${services}" class="table mt-2 table-bordered border-dark bg-white">
				<thead>
					<tr class="bg-primary text-white align-middle text-center">
						<th class="text-center">Nazwa usługi</th>
						<th colspan="3" class="text-center">Akcje</th>
					</tr>
				</thead>
				<tr th:each="service : ${services}" class="align-middle text-center">
					<td th:text="${service.name}">Nazwa usługi</td>
					<td><a th:href="@{/admin/servicemanagement/editservice?serviceid={id}(id=${service.id})}" class="btn btn-sm btn-primary text-white border border-dark rounded-0">Edytuj</a></td>
					<td><a th:href="@{/admin/servicemanagement/testservice?serviceid={id}(id=${service.id})}" class="btn btn-sm btn-primary text-white border border-dark rounded-0">Testuj</a></td>
					<td><a th:href="@{/admin/servicemanagement/deleteservice?serviceid={id}(id=${service.id})}" class="btn btn-sm btn-primary text-white border border-dark rounded-0">Usuń</a></td>
				</tr>
			</table>
			<a th:replace="fragments/nav-back-button :: nav-back-button (href=@{/admin})"></a>
		</div>
		<div class="col"></div>
	</div>
</div>