<div th:fragment="changepassword">
	<div th:replace="fragments/content-header :: content-header (text='Zmiana hasła')"></div>
	<div class="row">
		<div class="col-2 col-lg-4"></div>
		<div class="col-8 col-lg-4 text-center">
			<form method="POST" th:object="${editPassword}" th:action="@{/account/changepassword}" class="border border-dark mt-3">
				<h4 class="bg-primary text-white border-bottom border-dark">Zmiana hasła</h4>
				<div th:if="${#fields.hasAnyErrors()}"> Popraw wskazane poniżej błędy i spróbuj ponownie.</div>
				<div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Błąd starego hasła.</div>
				<div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Błąd hasła.</div>
				<div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Błąd powtórzenia hasła.</div>
				<div th:if="${success}">Hasło zostało zmienione.</div>
				<div class="form-group">
					<label for="oldPassword" class="fw-bold">Stare hasło</label>
					<input class="form-control text-center w-75 mx-auto" type="password" name="oldPassword" id="oldPassword" th:field="*{oldPassword}" required/>
				</div>
				<div class="form-group">
					<label for="newPassword" class="fw-bold">Nowe hasło</label>
					<input class="form-control text-center w-75 mx-auto" type="password" name="newPassword" id="newPassword" th:field="*{newPassword}" required/>
				</div>
				<div class="form-group">
					<label for="confirmPassword" class="fw-bold">Powtórz hasło</label>
					<input class="form-control text-center w-75 mx-auto" type="password" name="confirmPassword" id="confirmPassword" th:field="*{confirmPassword}" required/>
				</div>
				<button class="btn btn-primary w-50 rounded-0 mt-2 mb-1 border border-1 border-dark text-white" type="submit">Zapisz</button>
			</form>
			<div class="mt-3">
				<a th:replace="fragments/nav-back-button :: nav-back-button (href=@{/account})"></a>
			</div>
		</div>
		<div class="col-2 col-lg-4"></div>
	</div>
</div>