<div th:fragment="servers">
	<div th:if="${servers == null OR servers.isEmpty()}" class="text-center">Brak serwerów do wyświetlenia.</div>
	<div th:if="${servers}" class="btn-group-vertical mt-2 mb-1" style="width:100%" > 
		<a th:each="server : ${servers}" class="btn btn-primary rounded-0 border border-dark text-white" th:href="@{/server/{id}(id=${server.id})}" th:text="${server.name}"></a>
	</div>
</div>
<div th:fragment="home">
	<div th:replace="fragments/content-header :: content-header (text='Strona główna')"></div>
	<div class="row">
		<div class="col"></div>
		<div class="col">
			<content>Cześć</content>
		</div>
		<div class="col"></div>
	</div>
</div>