<div th:fragment="orderpayment">
	<div th:replace="fragments/content-header :: content-header (text='Zamówienie - Płatność')"></div>
	<div class="row">
		<div class="col-2 col-lg-4"></div>
		<div class="col-8 col-lg-4 text-center">
			<div th:if="${order}">
				<th:block th:switch="${order.paymentMethod.name()}">
					<th:block th:case="'BANK_TRANSFER'"><div th:replace="order/payment/banktransfer :: banktransfer"></div></th:block>
					<th:block th:case="'SMS'"><div th:replace="order/payment/sms :: sms"></div></th:block>
					<th:block th:case="'ACCOUNT_FUNDS'"><div th:replace="order/payment/funds :: funds"></div></th:block>
				</th:block>
			</div>
			<div th:unless="${order}">Nieznane zamówienie.</h2>
			<form method="POST" th:action="@{/order}" th:object="${order}" class="text-center">
				<input type="submit" class="btn btn-primary rounded-0 mt-2 mb-1 border border-1 border-dark text-white" value="&lt;&lt; Powrót">
			</form>
		</div>
		<div class="col-2 col-lg-4"></div>
	</div>
</div>