<div th:fragment="banktransfer">
	<div th:if="${order}">
		<th:block th:if="${bankTransferConfig.class.name == 'pl.maciejnierzwicki.mcshop.payment.config.banktransfer.impl.dotpay.DotPayConfig'}">
			<div th:replace="fragments/order/banktransfer/dotpay :: dotpay"></div>
		</th:block>
		<th:block th:if="${bankTransferConfig.class.name == 'pl.maciejnierzwicki.mcshop.payment.config.banktransfer.impl.przelewy24.Przelewy24Config'}">
			<div th:replace="fragments/order/banktransfer/przelewy24 :: przelewy24"></div>
		</th:block>
	</div>
	<h2 th:unless="${order}">Nieznane zamówienie.</h2>
</div>