<div th:fragment="providers">
	<div th:replace="fragments/content-header :: content-header (text='Wybór dostawców płatności')"></div>
	<div class="row">
		<div class="col-2 col-lg-4"></div>
		<div class="col-8 col-lg-4 text-center">
			<form method="POST" th:object="${providersForm}" th:action="@{/admin/paymentconfiguration/providers}" class="border border-dark mt-3 mb-3">
				<h4 class="bg-primary text-white border-bottom border-dark">Wybór dostawców płatności</h4>
				<div class="form-group">
					<label for="bankTransferProvider" class="fw-bold">Dostawca płatności - Przelewy</label>
					<select name="bankTransferProvider" id="bankTransferProvider" th:field="*{bankTransferProvider}" class="form-control text-center w-75 mx-auto">
						<option value="" th:selected="${providersForm.bankTransferProvider == null}">-</option>
						<option th:each="provider : ${bankTransferProviders}" th:value="${provider}" th:text="${provider.name}" th:selected="${provider} == ${providersForm.bankTransferProvider}">Dostawca</option>
						<option value="HOTPAY" disabled>Hotpay (Wkrótce)</option>
					</select>
				</div>
				<div class="form-group">
					<label for="smsProvider" class="fw-bold">Dostawca płatności - SMS</label>
					<select name="smsProvider" id="smsProvider" th:field="*{smsProvider}" class="form-control text-center w-75 mx-auto">
						<option value="" th:selected="${providersForm.smsProvider == null}">-</option>
						<option th:each="provider : ${smsProviders}" th:value="${provider}" th:text="${provider.name}" th:selected="${provider} == ${providersForm.smsProvider}">Dostawca</option>
						<option value="HOTPAY" disabled>Hotpay (Wkrótce)</option>
					</select>
				</div>
				<div class="form-check mt-3">
					<label for="restartApp" class="fw-bold">
						<input type="checkbox" id="restartApp" th:field="*{restartApp}" class="form-check-input"></input>
						Restart aplikacji
					</label>
					<div><small class="form-text text-muted">Aby wprowadzone zmiany zaczęły funkcjonować należy ponownie uruchomić aplikację.</small></div>
				</div>
				
				<div class="mt-3">
					<button class="btn btn-primary rounded-0 mt-2 mb-1 border border-1 border-dark text-white" type="submit">Zapisz</button>
				</div>
			</form>
			<div class="mt-3">
				<a th:replace="fragments/nav-back-button :: nav-back-button (href=@{/admin/paymentconfiguration})"></a>
			</div>
		</div>
		<div class="col-2 col-lg-4"></div>
	</div>
</div>