<div th:fragment="setup-finish">
	<div th:replace="fragments/content-header :: content-header (text='Instalacja')"></div>
	<div class="row">
		<div class="col-2 col-lg-4"></div>
		<div class="col-8 col-lg-4 text-center">
			<form method="POST" th:action="@{/setup/finish}" class="mt-3 border border-dark">
				<h4 class="bg-primary text-white border-bottom border-dark">Konfiguracja wstępna aplikacji</h4>
				<div>Konfiguracja gotowa. Kliknij poniższy przycisk, aby aktywować aplikację. Zostaniesz przeniesiony do strony logowania.</div>
				<button class="btn btn-primary rounded-0 border border-dark text-white" type="submit">Zakończ konfigurację</button>
			</form>
		</div>
		<div class="col-2 col-lg-4"></div>
</div>